<p>iban works!</p>
<form [formGroup]="reactiveForm" autocomplete="off" novalidate>
    <div class="form-group row">
        <label for="ibanReactive" class="col-sm-2 col-form-label">IBAN:</label>
        <input type="text" class="form-control" id="ibanReactive" name="ibanReactive" formControlName="ibanReactive"
            required>
    </div>

    <div *ngIf="ibanReactive.invalid && (ibanReactive.dirty || ibanReactive.touched)" class="alert alert-danger">

        <div *ngIf="ibanReactive.hasError('required')">
            IBAN is required.
        </div>
        <div *ngIf="ibanReactive.hasError('iban')">
            IBAN is invalid
        </div>

    </div>
    <div *ngIf="ibanReactive.valid && (ibanReactive.dirty || ibanReactive.touched)" class="alert alert-danger">
        IBAN is valid.
    </div>
</form>


<hr>
<div>Before:</div><span>{{testIban}}</span>
<hr>
<div>With ibanFormatter pipe:</div><span>{{testIban | ibanFormatter}}</span>